/* Colors
--royal-blue-traditional: #0a2463
--celestial-blue: #3e92cc
--ghost-white: #fffaff
--cerise: #d8315b
--eerie-black: #1e1b18 */

body {
  font-family: "lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* **************************************************************************** 
****************************HEADER/NAV**************************************
****************************************************************************  */
header {
  background-color: #1e1b18;
  color: #fffaff;
  padding: 15px 0;
  font-family: "Montserrat", sans-serif;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header .left-align {
  display: flex;
  align-items: center;
}

header .logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fffaff;
}

header .logo-link img {
  width: auto; /* Set the desired width */
  height: 50px; /* Maintain aspect ratio */
  margin-right: 10px;
}

header .logo-link h2 {
  margin: 0;
  font-size: 24px;
  color: #3e92cc;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fffaff;
  text-decoration: none;
  padding: 5px 10px;
  transition: background 0.3s;
}

nav ul li a:hover {
  background-color: #fffaff;
  border-radius: 2px;
  color: #3e92cc;
  font-weight: bold;
}

/* Login Button & Bounce */

#login-btn {
  background-color: #d8315b;
  color: #fffaff;
  border-radius: 5px;
  font-weight: normal;
}

.bounce-in-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.bounce-in-on-hover:hover,
.bounce-in-on-hover:focus,
.bounce-in-on-hover:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
/* **************************************************************************** 
****************************FOOTER**************************************
****************************************************************************  */

footer {
  background: #1e1b18;
  color: #fffaff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
