<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shut the Box</title>
    <link rel="stylesheet" href="stb.css" />
    <link rel="stylesheet" href="/../styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/htmx.org"></script>
  </head>
  <body>
    <header>
      <div
        hx-get="/components/header.html"
        hx-trigger="load"
        hx-swap="beforeend"
      ></div>
    </header>
    <main>
      <div class="container">
        <div class="title-container">
          <h1>Shut the Box</h1>
        </div>
        <div class="game-container">
          <div id="tiles"></div>
          <div class="dice-container">
            <img
              id="die1"
              src="https://hw-fileuploader.s3.amazonaws.com/Courtney/dice-fire.png"
              alt="Die 1"
            />
            <img
              id="die2"
              src="https://hw-fileuploader.s3.amazonaws.com/Courtney/dice-fire.png"
              alt="Die 2"
            />
          </div>
          <button id="rollDice">Roll Dice!</button>
          <div id="message"></div>
        </div>
        <div class="below-container">
          <button id="newGame">New Game</button>
        </div>
      </div>
    </main>

    <footer>
      <div
        hx-get="/components/footer.html"
        hx-trigger="load"
        hx-swap="beforeend"
      ></div>
    </footer>

    <script src="stb.js"></script>
  </body>
</html>
