:root {
  --royal-blue-traditional: #0a2463;
  --celestial-blue: #3e92cc;
  --ghost-white: #fffaff;
  --cerise: #d8315b;
  --eerie-black: #1e1b18;
}

body {
  background-color: var(--ghost-white);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: block;
  text-align: center;
  padding: 20px;
}

.image-container {
  margin-bottom: 40px;
  background-color: var(--ghost-white);
}

.image-container img {
  max-width: 40%;
  height: auto;
}

.game-container {
  background-color: var(--eerie-black);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: 0 auto 60px auto;
  width: 100%;
  max-width: 1000px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--ghost-white);
  flex-wrap: wrap;
  gap: 10px;
}

.game-info {
  display: flex; /* Align items on the same row */
  justify-content: center; /* Align items close to the start (left) */
  align-items: center; /* Align items vertically in the center */
  margin-bottom: 10px;
  padding-top: 20px;
  color: var(--ghost-white);
}

.game-info > div {
  margin-right: 10px; /* Adjust this value to control spacing between elements */
}

.mine-count,
.timer {
  flex: 0.1; /* Prevent items from stretching */
}
#difficulty {
  background-color: var(--celestial-blue);
  color: var(--ghost-white);
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
}

button {
  background-color: var(--cerise);
  color: var(--ghost-white);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--eerie-black);
}

.board {
  display: grid;
  gap: 2px;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
}

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: var(--celestial-blue);
  color: var(--eerie-black);
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.cell.opened {
  background-color: var(--ghost-white);
}

.cell.flagged {
  background-color: transparent;
  background-image: url("https://slightly-fun-games.s3.us-east-2.amazonaws.com/ms/flag.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cell.mine {
  background-color: transparent;
  background-image: url("https://slightly-fun-games.s3.us-east-2.amazonaws.com/ms/bomb.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cell.mine.exploded {
  position: relative;
}

.cell.mine.exploded::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-image: url("https://slightly-fun-games.s3.us-east-2.amazonaws.com/ms/bomb.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: explosion 0.5s ease-out;
  transform: translate(-50%, -50%);
}

@keyframes explosion {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.cell:hover:not(.opened) {
  background-color: var(--cerise);
  transform: scale(1.1);
}

.cell.testing {
  background-color: var(--royal-blue-traditional);
  background-image: url("https://slightly-fun-games.s3.us-east-2.amazonaws.com/ms/bomb.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 600px) {
  .game-container {
    width: 80%;
  }
  .cell {
    width: 28px;
    height: 28px;
  }

  .banner {
    flex-direction: column;
    align-items: center;
  }
}
.high-scores {
  color: var(--eerie-black);
  font-weight: bold;
  text-align: center;
  padding: 10px 20px 50px 20px;
  background-color: var(--celestial-blue);
  border-radius: 12px;
  max-width: 1050px;
  margin: 0 auto 200px auto;
  box-sizing: border-box;
}

.high-scores h1 {
  color: var(--cer);
  text-transform: uppercase;
}
.high-scores table {
  width: auto; /* Allow the table to be as wide as its content */
  margin: 0 auto; /* Center the table horizontally */
  border-collapse: collapse; /* Optional: remove gaps between cells */
}

.high-scores th,
.high-scores td {
  padding: 10px;
  border: 1px solid var(--ghost-white);
  text-align: center; /* Center the content inside each cell */
}

.high-scores td {
  padding-right: 100px;
}

.high-scores th {
  background-color: var(--eerie-black);
  color: var(--ghost-white);
}

.high-scores tbody tr:nth-child(odd) {
  background-color: #d6d6d6;
}

.high-scores tbody tr:nth-child(even) {
  background-color: var(--ghost-white);
}
.high-scores-wrapper {
  background-color: var(--celestial-blue);
  padding-top: 40px;
  padding-bottom: 1000px; /* Default padding */
  margin-top: 60px;

  width: 100%;
}
