<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/../styles.css" />
    <script src="https://unpkg.com/htmx.org"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <footer>
      <div class="container">
        <p>&copy; 2024 Slightly Fun Games. All rights reserved.</p>
        <a href="https://www.buymeacoffee.com/slightlyfungames" target="_blank"
          ><img
            src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png"
            alt="Buy Me A Coffee"
            style="height: 60px !important; width: 217px !important"
        /></a>
      </div>
    </footer>
  </body>
</html>
