<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/../styles.css" />
    <script src="https://unpkg.com/htmx.org"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="left-align">
          <a href="/home.html" class="logo-link">
            <img src="/images/logo.png" alt="logo" />
          </a>
        </div>
        <nav>
          <button class="menu-toggle" aria-label="Toggle menu">
            &#9776;
            <!-- Hamburger Icon -->
          </button>
          <ul class="menu">
            <li><a href="#">Daily Games</a></li>
            <li><a href="#">Anytime Games</a></li>
            <li class="bounce-in-on-hover">
              <a href="/login-signup/index.html" id="login-btn"
                >Login/Sign Up</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <script>
      // JavaScript to toggle menu visibility on mobile
      document
        .querySelector(".menu-toggle")
        .addEventListener("click", function () {
          document.querySelector(".menu").classList.toggle("open");
        });
    </script>
  </body>
</html>
