<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="qod.css" />
    <link rel="stylesheet" href="/../styles.css" />
    <script src="https://unpkg.com/htmx.org"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Question of the Day</title>
  </head>
  <body>
    <header>
      <div
        hx-get="/components/header.html"
        hx-trigger="load"
        hx-swap="beforeend"
      ></div>
    </header>

    <main>
      <div class="game-container">
        <h1>Question of the Day</h1>
        <div id="question-container">
          <p id="question-text">Loading question...</p>
          <ul id="answers-list">
            <!-- Multiple choice answers will be populated here -->
          </ul>
          <button id="submit-btn" disabled>Submit</button>
        </div>
        <div id="result-container" class="hidden">
          <p id="result-text"></p>
          <button id="next-btn">Next Question</button>
        </div>
      </div>
    </main>
    <footer>
      <div
        hx-get="/components/footer.html"
        hx-trigger="load"
        hx-swap="beforeend"
      ></div>
    </footer>
    <script src="qod.js"></script>
  </body>
</html>
