<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="crypto.css" />
    <link rel="stylesheet" href="/styles.css" />
    <script src="https://unpkg.com/htmx.org"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <title>Cryptogram</title>
  </head>
  <body>
    <header>
      <div
        hx-get="/components/header.html"
        hx-trigger="load"
        hx-swap="beforeend"
      ></div>
    </header>

    <main>
      <div class="game-container">
        <h1>Daily Cryptogram</h1>
        <div id="cryptogram-container"></div>
        <button id="check-button">Check</button>
        <p id="message"></p>
      </div>
    </main>

    <footer>
      <div
        hx-get="/components/footer.html"
        hx-trigger="load"
        hx-swap="beforeend"
      >
        Footer Content
      </div>
    </footer>

    <script src="crypto.js"></script>
  </body>
</html>
